
Tutorial 2/Tarea/database/local_db/aria_log.00000001
Tutorial 2/Tarea/database/local_db/aria_log_control
Tutorial 2/Tarea/database/local_db/ib_logfile0
Tutorial 2/Tarea/database/local_db/ib_logfile1
Tutorial 2/Tarea/database/local_db/ibdata1
Tutorial 2/Tarea/database/local_db/multi-master.info
Tutorial 2/Tarea/database/local_db/tc.log
